// UTILS START
@import './utils/variables';
@import './utils/general';
@import './utils/container';
@import './utils/visually-hidden';
// UTILS END 

// COMPONENTS START 
@import './components/header';
@import './components/logo';
@import './components/hero';
@import './components/advantage-list';
@import './components/projects';
@import './components/team-section';
@import './components/customers';
@import './components/footer';
@import './components/modal';
@import './components/portfolio';
// COMPONENTS END 