.advantage-list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;

    @media screen and (max-width: 1199px) {
      flex-wrap: wrap;
    }
  }
}

.advantage-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}

.advantage-list__block {
  background-color: $team-section-background-color;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

.advantage-list__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.advantage-list__text {
  font-size: 14px;
  line-height: 1.7;
  color: $primary-text-color;

  max-width: 450px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
  }
}
