footer {
    background-color: $hero-footer-section-background-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__columns {
    display: flex;
    align-items: baseline;
}

// FOOTER-ADDRESS START 
.footer-address__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-address__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address__link {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $primary-white-color;
    }
}
// FOOTER-ADDRESS END 

// JOIN START 
.join {
    margin-left: 70px;
}

.join__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
}

.join__list {
    display: flex;
}

.join__item:not(:last-child) {
    margin-right: 10px;
}

.join__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-white-color;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms $timing-function;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.join__icon {
    fill: currentColor;
}
// JOIN END 

// MAILING START 
.mailing {
    margin-left: auto;
    display: flex;
}

.mailing__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
}

.mailing__form {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 358px;
    height: 50px;
    background-color: $hero-footer-section-background-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    transition: border 250ms $timing-function;

    &:focus {
        border: 1px solid $accent-color;
        outline: none;
    }
    
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}

.mailing__button {
    display: flex;
    align-self: flex-end;
    margin-left: 12px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms $timing-function;

    &:hover,
    &:focus {
        background-color: $hero-button-hover-color;
    }
}

.mailing__icon {
    margin-left: 10px;
}
// MAILING END 