.header {
  position: relative;

  &--border {
    border-bottom: 1px solid $header-border-color;
  }
}

// SITE-NAV START
.site-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.site-nav__logo {
  padding: 16px 0;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    margin-right: 276px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding: 26px 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.site-nav__list {
  @media screen and (max-width: 767px) {
    flex-grow: 1;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-right: 0;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;

  @media screen and (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;
  text-decoration: none;
  transition: color 250ms $timing-function;

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.175;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
    position: relative;
  }

  &--current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    margin-bottom: 1px;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: -1px;
    }
  }
}
// SITE-NAV END

// CONTACTS START
.contacts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
}

.contacts__item {
  &:first-child {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  &:not(:first-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms $timing-function;

  @media screen and (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
    line-height: 1.16;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0;
    font-size: 12px;
    line-height: 1.16;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &--gap {
    margin-right: 50px;

    @media screen and (max-width: 767px) {
      margin-right: 0;
    }

    @media screen and (max-width: 1199px) {
      margin-right: 0;
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;

    @media screen and (max-width: 767px) {
      font-size: 34px;
      line-height: 1.176;
    }
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
// CONTACTS END
